*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}header{
 display: flex; 
 flex-direction: column;
 
}#bb{

    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgb(213, 213, 231);  
    display: flex; align-items: center;justify-content: center;
}#my{
    display: flex;
}h1{
    color: rgb(247, 242, 242);
}.amm{
    width: 80px;
    border-radius: 70px;
    height: 80px;
   
}#rvd{
    
    display: flex; align-items: center;
    justify-content: center;
    margin: auto;

}body{
    background-color: black;
}